/* ================ */
/* ===== Home ===== */
/* ================ */
.homeContainer {
  width: 100%;
  display: flex;
}

/* ================== */
/* ===== Topbar ===== */
/* ================== */
.topbarContainer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1877f2;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}

.logo {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin: 0 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 15px;
  font-size: 14px;
  cursor: pointer;
}

.topbarLink:hover {
  font-weight: bold;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: red;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* =================== */
/* ===== Sidebar ===== */
/* =================== */
.sidebar {
  height: calc(100vh - 50px);
  flex: 3;
  position: sticky;
  top: 50px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  padding: 10px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ======================== */
/* ===== Close Friend ===== */
/* ======================== */
.sidebarFriend {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

/* ================ */
/* ===== Feed ===== */
/* ================ */

.feed {
  flex: 5.5
}

.feedWrapper {
  padding: 20px;
}

/* ================ */
/* ===== POST ===== */
/* ================ */
.post {
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  margin: 0 10px;
  font-size: 15px;
  font-weight: 500;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  width: 100%;
  max-height: 300px;
  margin-top: 20px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px dashed gray;
}

/* ================= */
/* ===== SHARE ===== */
/* ================= */
.share {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareTopProfileImg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.shareTopInput {
  border: none;
  width: 80%;
}

.shareTopInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareOption .icon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareImg {
  width: 25%;
  object-fit: cover;
}

.shareImgContainer .icon {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}

/* ==================== */
/* ===== RightBar ===== */
/* ==================== */

.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
}

.rightbarTitle {
  margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarTitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.rightbarInfo {
  margin-bottom: 30px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarFollowButton {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #1872f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rightbarFollowButton:focus {
  outline: none;
}

/* ================== */
/* ===== Online ===== */
/* ================== */
.rightbarFriend {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarOnline {
  width: 12px;
  height: 12px;
  background-color: limegreen;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: 0;
}

.rightbarUsername {
  font-weight: 500;
}